

<%= stylesheet_link_tag 'Style1' %>
<div class="input">

<% unless current_user.blank? %>
<h2> Dodaj komentarz </h2>
<%= simple_form_for @photo.comments.build do |f| %>

  <%= f.text_area :content, :input_html => {:rows => 4, :cols => 40}, :class => "create_comment" %>
 <%=f.hidden_field :photo_id, :value => @photo.id %>
 <%=f.hidden_field :user_id, :value => current_user.id %>
  <br><%= f.button :submit, :value => "Wyslij" %>
 
  <% end %>
<% end %><p id="srednia">
<% if current_user.blank? %>
 Aby dodać komentarz <%= link_to " zarejestruj sie" , signup_path %> lub <%= link_to "zaloguj" , signin_path %> 

<%end%></p>
